---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100

# Strictness for safety
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false

# Visual structure
BreakBeforeBraces: Stroustrup
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true

# Cleanliness
EmptyLineBeforeAccessModifier: Always
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1 # NASA preference: avoid too much vertical dead space
SeparateDefinitionBlocks: Always
Cpp11BracedListStyle: true

# Alignment
PointerAlignment: Left
AccessModifierOffset: -4 # Aligns public/private with the class keyword

# Spacing
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

Standard: c++17
---